Header add Access-Control-Allow-Origin : http://77.223.120.153:9280/_cluster/health
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"